<% include ../partials/header %>

<article class="card-body mx-auto" style="max-width: 400px;">
    <h4 class="card-title mt-3 text-center">Edit <%= campground.name %></h4>

    <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
        <div class="card bg-light">
            <div class="form-group input-group">
                <input name="campground[name]" class="form-control" value="<%= campground.name %>" type="text">
            </div>
            <div class="form-group input-group">
                <input name="campground[image]" class="form-control" value="<%= campground.image %>" type="text">
            </div>
            <div class="form-group input-group">
                <input name="campground[description]" class="form-control" value="<%= campground.description %>" type="text">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </div>
        </div>
        <div class="form-group input-group">
                <a href="/campgrounds/<%= campground._id %>">Go Back</a>
        </div>
    </form>
</article>

<% include ../partials/footer %>